header {
  width: 1025px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width:1024px) {
  header {
    width: 95%;
  }
}

section.top-bar {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}

ul.icons {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  text-align: center;
  align-items: center;
}

ul.icons li {
  padding: 5px 20px 5px 0;
}

.icons li a {
  color: black;
  transition: color 0.3s ease;
}

.icons li a:hover {
  color: #ff4a9b;
}

.search-cart {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.search-cart button {
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  transition: background-color 0.5s ease;
}

.search-cart button:hover {
  background: #ff4a9b;
}
.search-cart button:focus {
  outline: none;
}

.fa-search {
  transition: background-color 0.5s ease;
}
.fa-search:hover {
  color: #cfcfcf;
}

.fa-shopping-cart {
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
  margin-left: 5px;
  padding: 7px 0;
  width: 32px;
}

.search-bar {
  width: 150px;
  padding: 8px 0;
  margin-right: 5px;
  border: none;
  border-bottom: 1px solid #eee;
  box-shadow: none;
  transition: border-bottom 0.5s ease;
  color: #a4a4a4;
  font-family: 'Montserrat', sans-serif
}

@media screen and (max-width:1024px) {
  .search-bar {
    width: 100px;
  }
}

.search-bar::placeholder {
  color: #a4a4a4;
}

.search-bar:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.search-bar:hover {
  border-bottom: 1px solid black;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 0;
}

h1 {
  font-family: Lato, Arial, Verdana, Tahoma, sans-serif;
  font-size: 47px;
  letter-spacing: 4px;
  font-weight: bold;
  color: #010101;
}

h6 {
  font-family: Lato, Arial, Verdana, Tahoma, sans-serif;
  font-size: 11px;
  color: #777777;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding: 5px 0;
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@media screen and (max-width:1024px) {
  .responsive-nav {
    height: 40px;
    width: 100%;
    background: #cecece;
    cursor: pointer;
  }

  .navigation {
    overflow: hidden;
    height: 0;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.navigation li {
  display: flex;
  flex-direction: row;
}

.navigation li a {
  font-family: Lato, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.8em;
  color: black;
  letter-spacing: .20em;
  word-wrap: break-word;
  transition: color 0.3s ease;
  padding: 15px;
}

.navigation li a:hover {
  color: #b5adad;
}

.li-dropdown {
  align-items: center;
}

a#arrow::after {
  content: '\25BE';
  font-size: 12px;
  /*margin-left: -7px;*/
}
