body {
  margin: 0 7px;
}

header {
  width: 96%;
  max-width: 1018px;
  position: relative;
  margin: 0 auto;
  min-width: 386px;
}

@media screen and (max-width:1024px) {
  header {
    width: 95%;
  }

  .search-bar {
    width: 100px;
  }
}

section.top-bar {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

ul.icons {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  text-align: center;
  align-items: center;
}

ul.icons li {
  padding: 5px 20px 5px 0;
}

.icons li a {
  color: black;
  transition: color 0.3s ease;
}

.icons li a:hover {
  color: #ff4a9b;
}

.search-cart {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}

.search-cart button {
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  background-color: white;
  transition: background-color 0.5s ease;
}

.search-cart button:hover {
  background: #ff4a9b;
}
.search-cart button:focus {
  outline: none;
}

.fa-search {
  transition: background-color 0.5s ease;
}
.fa-search:hover {
  color: #cfcfcf;
}

.fa-shopping-cart {
  background: black;
  color: white;
  border-radius: 25px;
  margin-left: 5px;
  padding: 7px 0;
  width: 32px;
  transition: background 0.5s ease;
}

.fa-shopping-cart:hover {
  background: #ff4a9b;

}

.search-bar {
  width: 150px;
  padding: 8px 0;
  margin-right: 5px;
  border: none;
  border-bottom: 1px solid #eee;
  box-shadow: none;
  transition: border-bottom 0.5s ease;
  color: #a4a4a4;
  font-family: 'Montserrat', sans-serif
}

@media only screen and (max-width : 400px) {
  .search-bar {
    width: 75px;
  }
}

.search-bar::placeholder {
  color: #a4a4a4;
}

.search-bar:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.search-bar:hover {
  border-bottom: 1px solid black;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 0;
}

h1 {
  font-family: Lato, sans-serif;
  font-size: 55px;
  letter-spacing: 4px;
  font-weight: bold;
  color: #010101;
}

h6 {
  font-family: Lato, sans-serif;
  font-size: 11px;
  color: #777777;
  text-transform: uppercase;
  letter-spacing: .2em;
  padding: 3px 0;
}

@media screen and (max-width:600px) {
  h1 {
    font-size: 9.5vw;
  }

  h6 {
    font-size: 11px;
  }
}

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  line-height: 3em;
}

/*@media screen and (max-width:1024px) {
  .responsive-nav {
    height: 40px;
    width: 100%;
    background: #cecece;
    cursor: pointer;
  }

  .navigation {
    overflow: hidden;
    height: 0;
  }
}*/

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  flex-wrap: wrap;
}

.navigation li a {
  font-family: Lato, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  color: black;
  letter-spacing: .20em;
  word-wrap: break-word;
  transition: color 0.3s ease;
  padding: 15px;
}

.navigation li a:hover {
  color: #b5adad;
}

a#arrow::after {
  content: '\25BE';
  font-size: 12px;
}

.nav ul ul {
  visibility: hidden;
  position: absolute;
  border: 1px solid black;
  justify-content: center;
  width: 200px;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  background: white;
}

.nav ul ul li {
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav ul ul li a{
  padding: 0;
}

li.li-dropdown:hover ul {
  visibility: visible;
}

.header-image {
  padding-top: 45px;
  min-height: 54vh;
  height: 54vw;
  max-height: 800px;
}

figure {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: 800px;
}

.slide_img {
  position: absolute;
  width: 100%;
  height: 92%;
}

.slide_img img {
  width: 100%;
  height: 100%;
}

#i1, #i2, #i3 {
  display: none;
}

.pre {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 0;
  height: 0;
  transition: color 0.5s ease;
  top: 45%;
  left: 2%;
}

.fa-angle-left {
  font-size: 2em;
}
.fa-angle-right {
  font-size: 2em;
}

.next {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  width: 0;
  height: 0;
  transition: color 0.5s ease;
  top: 45%;
  right: 3%;
}

@media screen and (max-width:1024px) {
  .pre {
    left: 48%;
    top: 100%;
  }

  .next {
    right: 48%;
    top: 100%;
  }

  .fa-angle-left {
    font-size: 1.5em;
  }
  .fa-angle-right {
    font-size: 1.5em;
  }

}

.next:hover {
  color: #383838;
}
.pre:hover {
  color: #383838;
}

.slide_img {
  z-index: -1;
}

#i1:checked ~ #one, #i2:checked ~ #two, #i3:checked ~ #three {
  z-index: 99;
}

.slide_img article {
  position: absolute;
  z-index: 100;
  width: 35%;
  margin: auto;
  top: 30%;
  left: 29%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  opacity: 0.8;
  padding: 4%;
}

article p {
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 300;
  word-wrap: break-word;
  max-width: 80%;
  text-align: center;
  letter-spacing: .04em;
}

article a {
  font-family: Lato, sans-serif;
  font-size: 0.75em;
  text-decoration: none;
  background: #000000;
  line-height: 1em;
  padding: 10px 25px;
  opacity: 0.9;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  word-wrap: break-word;
  letter-spacing: .04em;
  transition: background 0.5s ease;
  letter-spacing: .08em;
}

@media screen and (max-width: 600px) {
  article p {
    font-size: 1em;
    margin: 0 0 5px;
  }

  .slide_img article {
    width: 100%;
    height: 40%;
    padding: 0;
    left: 0;
    top: 60%;
  }
}

article a:hover {
  background: #ff4a9b;
}

.four-image {
  width: 96%;
  max-width: 1018px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  margin: 0 auto;
  grid-auto-rows: 40vh;
  cursor: pointer;
}

@media screen and (max-width:1024px) {
  .four-image {
    width: 95%;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    grid-auto-rows: 50vh;
  }
}

@media screen and (max-width:600px) {
  .four-image {
    grid-gap: 1.5em;
    grid-auto-rows: 40vh;
    grid-template-columns: 1fr;
    width: 60%;
  }

}

.extra {
  position: relative;
}

.extra img {
  width: 100%;
  height: 100%;
}

.extra article {
  position: absolute;
  background: rgba(255,255,255,0.7);
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  padding: 15px 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.extra article p {
  width: 122px;
  font-family: Lato, sans-serif;
  font-size: 0.75em;
  margin: 0;
  letter-spacing: .08em
}

footer {
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 96%;
  margin: auto;
  margin-top: 5vh;
  padding: 5vh 0;
  font-family: Lato, sans-serif;
  font-size: 0.75em;
  letter-spacing: .08em;
  font-weight: 100;

}

footer section a {
  text-decoration: none;
  color: #fe96c6;
  transition: color 0.3s ease;

}
footer section a:hover {
  color: #b4b4b4;
}

footer section p {
  color: #b4b4b4;
}

mark {
  text-decoration: none;
  background-color: white;
  color: #fe96c6;
}

@media screen and (max-width:600px) {
  footer {
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
  }

  footer section {
    padding-bottom: 5px;
  }
}
